*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.titulo {
    background-color: red;
    color: white;
    position: relative;
    width: 200px;
    height: 80px;
    margin-left: 200px;
    border-radius: 10px;
    top: 30px;
    border: 5px black solid;
}

.titulo h1 { 
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: center;
    width: 200px;
}
.contenido{
    font-size: 1.6rem;
    
    width: 400px;
    height: 200px;
    margin-left: 100px;
    background-color: blueviolet;
    border-radius: 10px;
    border: 5px black solid;
}

.contenido p {
    align-items: center;
    display: flex;
    height:  auto;
    justify-content: center;
    width: 380px;
    padding-top: 5rem;
    padding-left: 2rem;
}