.main--tables-container {
    display: flex;
    width: 930px;
    margin: 0 auto;
}
.product-cards--container {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
    justify-content: center;
}
.plans-cotainer-slider {
    justify-content: center;
}
